{% extends 'base.html' %}

{% block title %}
Mess-Menu
{% endblock title %}

{% block body %}
<div class="container-fluid my-5">
    <h1 class="text-center fw-bold display-4" >Menu</h1>

    <!-- From here -->
    <!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
      Breakfast-Menu
    </h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"
          ><a href="#!" class="text-success"
            ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
        ></span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Date</th>
              <th class="text-center">Day</th>
              <th class="text-center">Breakfast Food Items:</th>
              <th class="text-center">Ingredients</th>


             
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half">
                <span class="table-up"
                  ><a href="#!" class="indigo-text"
                    ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                ></span>
                <span class="table-down"
                  ><a href="#!" class="indigo-text"
                    ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                ></span>
              </td>
            
            </tr>
            <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half">
                  <span class="table-up"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                  ></span>
                  <span class="table-down"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                  ></span>
                </td>
              
              </tr>
              <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half">
                  <span class="table-up"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                  ></span>
                  <span class="table-down"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                  ></span>
                </td>
              
              </tr>
              <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half">
                  <span class="table-up"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                  ></span>
                  <span class="table-down"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                  ></span>
                </td>
              
              </tr>
                  
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->
    


   <!-- From here -->
    <!-- Editable table 2-->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        Lunch-Menu
    </h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"
          ><a href="#!" class="text-success"
            ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
        ></span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Date</th>
              <th class="text-center">Day</th>
              <th class="text-center">Lunch Food Items:</th>
              <th class="text-center">Ingredients</th>


             
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half">
                <span class="table-up"
                  ><a href="#!" class="indigo-text"
                    ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                ></span>
                <span class="table-down"
                  ><a href="#!" class="indigo-text"
                    ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                ></span>
              </td>
            
            </tr>
            <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half">
                  <span class="table-up"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                  ></span>
                  <span class="table-down"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                  ></span>
                </td>
              
              </tr>
              <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half">
                  <span class="table-up"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                  ></span>
                  <span class="table-down"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                  ></span>
                </td>
              
              </tr>
              <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half">
                  <span class="table-up"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                  ></span>
                  <span class="table-down"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                  ></span>
                </td>
              
              </tr>
                  
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table 2-->


     <!-- From here -->
    <!-- Editable table 3-->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        Dinner-Menu
    </h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"
          ><a href="#!" class="text-success"
            ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
        ></span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Date</th>
              <th class="text-center">Day</th>
              <th class="text-center">Dinner Food Items:</th>
              <th class="text-center">Ingredients</th>


             
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half" contenteditable="true"></td>
              <td class="pt-3-half">
                <span class="table-up"
                  ><a href="#!" class="indigo-text"
                    ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                ></span>
                <span class="table-down"
                  ><a href="#!" class="indigo-text"
                    ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                ></span>
              </td>
            
            </tr>
            <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half">
                  <span class="table-up"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                  ></span>
                  <span class="table-down"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                  ></span>
                </td>
              
              </tr>
              <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half">
                  <span class="table-up"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                  ></span>
                  <span class="table-down"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                  ></span>
                </td>
              
              </tr>
              <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half">
                  <span class="table-up"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                  ></span>
                  <span class="table-down"
                    ><a href="#!" class="indigo-text"
                      ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                  ></span>
                </td>
              
              </tr>
                  
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table 3-->
            
</div>


{% endblock body %}